<header id="header">
  <img src="../assets/img/portada.png" />
</header>

<nav id="menu">
  <ul *ngIf="identity">
    <li><a [routerLink]= "['/sucursal']" [routerLinkActive]="['actived']">Indicadores por sucursal</a></li>
    <li><a  [routerLink]= "['/proveedor']" [routerLinkActive]="['actived']">Indicadores proveedor</a></li>
    <li><a  [routerLink]= "['/contingencia']" [routerLinkActive]="['actived']">Contingencias</a></li>
    <li><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
  </ul>

  <ul *ngIf="!identity"> 
    <li><a [routerLink]= "['/login']" [routerLinkActive]="['actived']">Login</a></li>
    <li><a [routerLink]= "['/registro']" [routerLinkActive]="['actived']">Registro</a></li>
  </ul>
    
</nav>

<div id="content">
  <router-outlet></router-outlet>
</div>

<footer id="footer">
  <p>GERENCIA DE TRANSPORTE Y CORREOS &copy;2021</p>
  <p>OCASA</p>        
</footer>



